* @Videndum
*.yml @resnovas/automation
docs/*/** @resnovas/community
docs\getting-started\contributing\CODE_OF_CONDUCT.md @resnovas/admins
docs\getting-started\contributing\AGREEMENT.md @resnovas/security
