name: Issue Management

on:
  issues:
    types: [opened, edited, assigned]

jobs:
  # Automatically applies labels according to title
  AutoLabel:
    name: Issue Automation
    runs-on: ubuntu-latest
    steps:
      - name: Get Configurations
        uses: Videndum/manage-github-secrets@1.0.1
        with:
          settings: ${{ secrets.SETTINGS }}
          mode: 'environment'
          token: ${{ secrets.BOT_TOKEN }}
      - name: Checkout
        uses: actions/checkout@v2
      # super Labeler
      - name: Super Labeller
        uses: Videndum/super-labeler-action@1.0.1
        with:
          GITHUB_TOKEN: '${{ secrets.BOT_TOKEN }}'
      # Profanity
      - name: Profanity check step
        if: ${{env.profanity_enabled}} == true
        uses: tailaiw/mind-your-language-action@v1.0.3
        env:
          GITHUB_TOKEN: ${{ secrets.BOT_TOKEN }}
        continue-on-error: true

  AutoAssign:
    name: Automatically Assign to branch and projects
    needs: AutoLabel
    runs-on: ubuntu-latest
    steps:
      - name: Get Configurations
        uses: Videndum/manage-github-secrets@1.0.1
        with:
          settings: ${{ secrets.SETTINGS }}
          mode: 'environment'
          token: ${{ secrets.GITHUB_TOKEN }}
      - run: if [ ${{env.projects_useOrg}} == true ]; then echo "projectPath=org/${{github.repository_owner}}" >> $GITHUB_ENV ; else echo "projectPath=${{github.repository}}" >> $GITHUB_ENV ; fi
      - name: Assign NEW issues to project DevOps
        uses: docker://takanabe/github-actions-automate-projects:v0.0.1
        if: github.event.action == 'opened' && ${{env.projects_enabled}} == true
        env:
          GITHUB_TOKEN: ${{ secrets.BOT_TOKEN }}
          GITHUB_PROJECT_URL: https://github.com/${{env.projectPath}}/projects/${{env.projects_devOps}}
          GITHUB_PROJECT_COLUMN_NAME: ${{env.projects_devOpsColumn}}
        continue-on-error: true
      - name: Assign NEW bugs to project bugs
        uses: docker://takanabe/github-actions-automate-projects:v0.0.1
        if: contains(github.event.issue.labels.*.name, 'Type - Bug') && ${{env.projects_enabled}} == true
        env:
          GITHUB_TOKEN: ${{ secrets.BOT_TOKEN }}
          GITHUB_PROJECT_URL: https://github.com/${{env.projectPath}}/projects/${{env.projects_issues}}
          GITHUB_PROJECT_COLUMN_NAME: ${{env.projects_issuesColumn}}
        continue-on-error: true
      - name: Create Issue Branch
        if: ${{env.issueBranch_enabled}} == true
        uses: robvanderleek/create-issue-branch@master
        env:
          GITHUB_TOKEN: ${{ secrets.BOT_TOKEN }}
        continue-on-error: true
