name: Project Management
on:
  project_card:

jobs:
  # Automatically assigns labels based on config ../card-labeler.yml
  triage:
    name: Auto card labeler
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.1
      - name: Get Configurations
        uses: packages/variable-mastermind/
        with:
          settings: ${{ secrets.SETTINGS }}
          mode: 'environment'
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Adjust Lables
        if: ${{env.projects_enabled}} == true
        uses: technote-space/auto-card-labeler@v1
        with:
          CONFIG_FILENAME: ${{env.projects_cardsConfig}}

  release-mastermind:
    name: Release Mastermind
    needs: label-mastermind
    runs-on: ubuntu-latest
    steps:          
      - uses: actions/checkout@v2.3.1
      - uses: ./packages/release-mastermind/
        with:
          GITHUB_TOKEN: '${{ secrets.BOT_TOKEN }}'
          config: .github/allconfigs.json