# @format

name: revert-command
on:
  repository_dispatch:
    types: [revert-command]

jobs:
  revert-commit:
    runs-on: ubuntu-latest
    if: contains(github.event.comment.body, '/revert')
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
      - name: Automatic Revert
        uses: srt32/revert@v0.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
