# @format

name: Command Management

on:
  issue_comment:
    types: [created, edited]

jobs:
  # Automatically reverts commits on request
  profanityCheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Profanity check step
        if: ${{env.checkProfanity}} == true
        uses: tailaiw/mind-your-language-action@v1.0.3
        env:
          GITHUB_TOKEN: ${{ secrets.BOT_TOKEN }}
        continue-on-error: true

  slashCommandDispatch:
    if: github.event.action == 'created'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Get Configurations
        uses: ./packages/variable-mastermind/
        with:
          settings: ${{ secrets.SETTINGS }}
          mode: "environment"
          token: ${{ secrets.GITHUB_TOKEN }}

      # Advanced JSON configuration
      - name: Slash Command Dispatch (JSON)
        id: scd
        uses: peter-evans/slash-command-dispatch@v2.3.0
        with:
          token: ${{ secrets.BOT_TOKEN }}
          config: ${{env.command_settings}}

      - name: Edit comment with error message
        if: steps.scd.outputs.error-message
        uses: peter-evans/create-or-update-comment@v1.4.5
        with:
          comment-id: ${{ github.event.comment.id }}
          body: |
            > ${{ steps.scd.outputs.error-message }}
